body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: rgb(154, 234, 234);
}

/* heading styles */
header {
    background-color: rgb(99, 5, 99);
    text-align: center;
    padding: 20px;
    color: rgb(136, 178, 214);
}

/* main styles */
main {
    padding: 2rem;
    margin: auto;
    max-width: 900px;
    color: rgb(23, 24, 24);
}

#transaction-form {
    background-color: bisque;
    padding: 2rem;
    margin-bottom: 4rem;
    padding: 4rem;
    border: 10px solid rgb(102, 95, 95);
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 2rem;
}

form input, select {
    padding: 10px;
    margin-top: 10px;
    border: 4px solid rgb(102, 95, 95);
    border-radius: 10px;

}

.form-btns {
    display: flex;
    justify-content: space-around;
}

form button {
    background-color: rgb(102, 95, 95);
    margin-top: 1.25rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
}

form button:hover {
    background-color: rgb(48, 36, 22);
    color: aliceblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 4px solid rgb(102, 95, 95);
    padding: 8px;
    background-color: rgb(161, 88, 230);
    color: rgb(63, 40, 40);
    text-align: center;
}

td button {
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.delete {
    background-color: rgb(233, 40, 40);
}

.delete:hover {
    background-color: rgb(143, 7, 7);
    color: aliceblue;
}

.edit {
    background-color: rgb(84, 75, 244);
} 

.edit:hover {
    background-color: rgb(19, 78, 58);
    color: aliceblue;
} 